.top_container {
  color: #E3E3E3;
}

  .top_iamge {
    width: 100%;
    margin-top: 50px;
    object-fit: fill;
  }

.works_section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 80px 150px;
  background: #565B66;

  .works_contaier {
    width: 79.167vw;
    // background: #000;
    // コンテナサイズのチェック用

    .works_title {
      font-size: 80px;
      text-align: center;
      @include mq-down(sm) {
        font-size: 64px;
        }
    }

    .works_image-section {
      display: flex;
      justify-content: space-around;
      margin-top: 88px;
      text-align: center;
      font-size: 32px;
      @include mq-down(lg) {
        flex-direction: column;
        }
    }
  }
  img{
    max-width: 350px;
    width: 100%;
    @include mq-down(lg) {
      max-width: 400px;
      }
  }
  p{
    margin-top: 16px;
    @include mq-down(lg) {
      margin-bottom: 80px;
      }
  }
}
