.top_container {
  color: #E3E3E3;
}

  .top_iamge {
    width: 100%;
    margin-top: 50px;
    object-fit: fill;
  }



.works_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #565B66;

  .works_contaier {
    width: 79.167vw;
    height: 600px;
    // background: #000;
    // コンテナサイズのチェック用

    .works_title {
      font-size: 80px;
      text-align: center;
    }

    .works_image-section {
      display: flex;
      justify-content: space-around;
      margin-top: 88px;
      text-align: center;
      font-size: 32px;
    }
  }
}
