.navbar_containar {
  padding: 16px 14px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #707070;
  font-family: "amboy-black", "sans-serif";
  font-weight: bolder;

  .navbar_title {
    height: 24px;
  }

  .navbar_section-button {
    font-size: max(16px);
    .navbar_rink {
      margin-left: 24px;
      color: #aaaaaa;
      transition: 0.3s;
      &:hover {
        color: white;
        // translate: ;
      }
    }
  }
}
